{% extends "./layout/layout.html" %}
{% block content %}
    <!-- Main Content
    ================================================== -->
    <header class="jumbotron bg-inverse text-xs-center center-vertically" role="banner">
    <div class="container">
              <!--<div class="col-lg-6" style="border: 1px solid black;">
                  <h4 class="display-1">Express an emotion</h4>
                  <h6 class="m-b-3">And then press the button down below</h6>
              </div>-->
      <div style="margin-top: 100px;">
        <!-- CAMERA -->
        <div id="my_camera"></div>
            <form action="../confirm/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
              <input type="text" value=""  id="save_picture" name="image" hidden> 
              <input type="submit" value="Take a picture" class="btn btn-secondary-outline m-b-1" style="margin-top: 20px;" role="button" onClick="take_snapshot()"></span>     
            </form>      </div>
    </div>
    </header>

    <!-- Code to handle taking the snapshot and displaying it locally -->
    <!-- Webcam JS -->
    <script type="text/javascript" src="../static/js/webcam.min.js"></script>     
    <script language="JavaScript">
          
      const uri = "";

      /* SET UP THE CAMERA */
      Webcam.set({
        width: 400,
        height: 450,
        image_format: 'jpeg',
        jpeg_quality: 90
      });
      Webcam.attach( '#my_camera' );
      /* TAKE SNAPSHOT */
      function take_snapshot() {
        Webcam.snap( function(data_uri) {
          this.uri = data_uri;
          save_snap(data_uri, "face.jpeg");
        } );
      }
      /* SAVE SNAP */
        function save_snap(base64, fileName) {
          var img = document.getElementById("save_picture");
          img.setAttribute("value", base64);
          
        }
    </script>
{% endblock %}