{% extends "./layout/layout.html" %}
{% block content %}
    <!-- Main Content
    ================================================== -->
    <header class="jumbotron bg-inverse text-xs-center center-vertically" role="banner">
    <div class="container">
              <!--<div class="col-lg-6" style="border: 1px solid black;">
                  <h4 class="display-1">Express an emotion</h4>
                  <h6 class="m-b-3">And then press the button down below</h6>
              </div>-->
      <div style="margin-top: 100px;">
        <!-- CAMERA -->
        <div id="my_camera"></div>
          <a class="btn btn-secondary-outline m-b-1" style="margin-top: 20px;" href="/confirm" role="button" onClick="take_snapshot()"></span>Take a picture</a>        
      </div>
    </div>
    </header>

    <!-- Code to handle taking the snapshot and displaying it locally -->
    <!-- Webcam JS -->
    <script type="text/javascript" src="../static/js/webcam.min.js"></script>     
    <script language="JavaScript">
          
      const uri = "";

      /* SET UP THE CAMERA */
      Webcam.set({
        width: 400,
        height: 450,
        image_format: 'jpeg',
        jpeg_quality: 90
      });
      Webcam.attach( '#my_camera' );
      /* TAKE SNAPSHOT */
      function take_snapshot() {
        Webcam.snap( function(data_uri) {
          this.uri = data_uri;
          save_snap(data_uri, "face.jpeg");
        } );
      }
      /* SAVE SNAP */
      function save_snap(base64, fileName) {
        var link = document.createElement("a");
        link.setAttribute("href", base64);
        link.setAttribute("download", fileName);
        link.click();
      }
    </script>
{% endblock %}