{% extends "./layout/layout.html" %}
{% block content %}
    <!-- Main Content
    ================================================== -->

    <header class="jumbotron bg-inverse text-xs-center center-vertically" role="banner">
      <div class="container">
        <h1 class="display-3">Moodify.io</h1>
        <h2 class="m-b-3">Find the movie that suits your mood</h2>
        <a class="btn btn-secondary-outline m-b-1" href="/capture" role="button"></span>Try for free</a>
        <ul class="nav nav-inline social-share">
          <li class="nav-item"><a class="nav-link" href="#"><span class="icon-twitter"></span> 1024</a></li>
        </ul>
      </div>
    </header>

{% endblock %}