<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Moodify.io: Movies for {{mood}}</title>
    <meta name="description" content="Find the perfect movie to fit your current mood" />
    <meta name="keywords" content="movie, mood" />
    <meta name="author" content="Cinemood Inc" />
    <link rel="icon" type="image/png" href="/static/img/favicon/favicon-96x96.png" sizes="96x96">
    <meta name="msapplication-TileColor" content="#663fb5">
    <meta name="msapplication-TileImage" content="/static/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#663fb5">
    <link rel="stylesheet" href="/static/css/landio.css">
    <link rel="stylesheet" href="/static/css/movies.css">
  </head>
  <body>
      <!-- Navigation
    ================================================== -->

    <nav class="navbar navbar-dark bg-inverse bg-inverse-custom navbar-fixed-top" id="totop">
      <div class="container">
        <a class="navbar-brand" href="#">
          <span><img src="../static/img/logo.png" style="height: 50px; width: 50px;" /></span>
          <span class="sr-only">Moodify.io</span>
        </a>
        <a class="navbar-toggler hidden-md-up pull-xs-right" data-toggle="collapse" href="#collapsingNavbar" aria-expanded="false" aria-controls="collapsingNavbar">
        &#9776;
      </a>
        <a class="navbar-toggler navbar-toggler-custom hidden-md-up pull-xs-right" data-toggle="collapse" href="#collapsingMobileUser" aria-expanded="false" aria-controls="collapsingMobileUser">
          <span class="icon-user"></span>
        </a>
        <div id="collapsingNavbar" class="collapse navbar-toggleable-custom" role="tabpanel" aria-labelledby="collapsingNavbar">
          <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item nav-item-toggable">
              <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item nav-item-toggable">
              <a class="nav-link" href="/seen">Seen movies</a>
            </li>
            <li class="nav-item nav-item-toggable">
              <a class="nav-link" href="#" target="_blank">About</a>
            </li>
            <li class="nav-item nav-item-toggable hidden-md-up">
              <form class="navbar-form">
                <input class="form-control navbar-search-input" type="text" placeholder="Type your search &amp; hit Enter&hellip;">
              </form>
            </li>
            <li class="navbar-divider hidden-sm-down"></li>
            <li class="nav-item dropdown nav-dropdown-search hidden-sm-down">
              <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="icon-search"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-search" aria-labelledby="dropdownMenu1">
                <form class="navbar-form">
                  <input class="form-control navbar-search-input" type="text" placeholder="Type your search &amp; hit Enter&hellip;">
                </form>
              </div>
            </li>
            <li class="nav-item dropdown hidden-sm-down textselect-off">
              <a class="nav-link dropdown-toggle nav-dropdown-user" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/static/img/face5.jpg" height="40" width="40" alt="Avatar" class="img-circle"> <span class="icon-caret-down"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-menu-user dropdown-menu-animated" aria-labelledby="dropdownMenu2">
                <div class="media">
                  <div class="media-left">
                    <img src="/static/img/face5.jpg" height="60" width="60" alt="Avatar" class="img-circle">
                  </div>
                  <div class="media-body media-middle">
                    <h5 class="media-heading">Joel Fisher</h5>
                    <h6>hey@joelfisher.com</h6>
                  </div>
                </div>
                <a href="#" class="dropdown-item text-uppercase">View posts</a>
                <a href="#" class="dropdown-item text-uppercase">Manage groups</a>
                <a href="#" class="dropdown-item text-uppercase">Subscription &amp; billing</a>
                <a href="#" class="dropdown-item text-uppercase text-muted">Log out</a>
                <a href="#" class="btn-circle has-gradient pull-xs-right">
                  <span class="sr-only">Edit</span>
                  <span class="icon-edit"></span>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div id="collapsingMobileUser" class="collapse navbar-toggleable-custom dropdown-menu-custom p-x-1 hidden-md-up" role="tabpanel" aria-labelledby="collapsingMobileUser">
          <div class="media m-t-1">
            <div class="media-left">
              <img src="/static/face5.jpg" height="60" width="60" alt="Avatar" class="img-circle">
            </div>
            <div class="media-body media-middle">
              <h5 class="media-heading">Joel Fisher</h5>
              <h6>hey@joelfisher.com</h6>
            </div>
          </div>
          <a href="#" class="dropdown-item text-uppercase">View posts</a>
          <a href="#" class="dropdown-item text-uppercase">Manage groups</a>
          <a href="#" class="dropdown-item text-uppercase">Subscription &amp; billing</a>
          <a href="#" class="dropdown-item text-uppercase text-muted">Log out</a>
          <a href="#" class="btn-circle has-gradient pull-xs-right m-b-1">
            <span class="sr-only">Edit</span>
            <span class="icon-edit"></span>
          </a>
        </div>
      </div>
    </nav>

    <!-- Main Content 
    ================================================== -->

    <div class="main-bg" style='background-image: url("../static/img/bg-testimonials.jpg");'>
      <div class="main-bg-title">
          <h1>Top Movies for <b>{{ mood }}</b></h1>
      </div>
    </div>  
    <div class="container">

    {% if movies %}
      <hr>
      <i>{{ movies|length }} movies were found.</i>
      {% for movie, info in movies.items %}
      <a href="#">
      <div class="movie-card">
        <div class="row">
          <div class="movie-bg col-lg-2">
            <img src="{{info.image_url}}"/>
          </div>
          <div class="movie-info col-lg-8">
            <h4>{{info.name}}</h4>
            <p>{{info.description}}</p>
            <span class="rating"><img src="https://img.icons8.com/emoji/48/000000/star-emoji.png"/> <b>{{info.rating}}</b></span>
          </div>
          <div class="movie-action col-lg-2">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="30" height="30"
              viewBox="0 0 172 172"
              style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#cccccc"><path d="M34.4,18.06v135.86656l115.48188,-67.92656z"></path></g></g></svg>
          </div>
        </div>
      </div>
      </a>
      {% endfor %}
    {% endif %}
  </div>
   <!-- Footer
    ================================================== -->

  <footer class="section-footer bg-inverse" role="contentinfo" style="margin-top: 150px !important;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-5">
          <div class="media">
            <div class="media-left">
            </div>
            <small class="media-body media-bottom">
              &copy; Moodify.io | 2020 <br>
              Created with < 3 by Moodify team.
            </small>
          </div>
        </div>
        <div class="col-md-6 col-lg-7">
          <ul class="nav nav-inline">
            <li class="nav-item">
              <a class="nav-link" href="./index-carousel.html">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/seen">Seen Movies</a></li>
            <li class="nav-item"><a class="nav-link" href="#" target="_blank">About</a></li>
            <li class="nav-item"><a class="nav-link scroll-top" href="#totop">Back to top <span class="icon-caret-up"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/static/js/landio.min.js"></script>
  
</body>
</html>
